.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-image {
  height: 20vh;
  margin: 15px;
}
.not-found {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #0d0d0d;
  margin: 10px;
}
.not-found-button {
  background-color: #0000ff;
  color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
